windows-curses
aiocfscrape
aiohttp
aiohttp-proxy
aiosignal
annotated-types
async-timeout
attrs
beautifulsoup4
better-proxy
colorama
DateTime
frozenlist
idna
Js2Py
loguru
multidict
pyaes
pydantic
pydantic-settings
pydantic_core
pyjsparser
Pyrogram
PySocks
python-dotenv
pytz
six
soupsieve
TgCrypto
typing_extensions
tzdata
websockets
win32-setctime
pytz
requests

user=%7B%22id%22%3A7376734359%2C%22first_name%22%3A%22Wahid%20Khan%20%E2%96%AA%EF%B8%8F%22%2C%22last_name%22%3A%22%22%2C%22username%22%3A%22wahid_khann%22%2C%22language_code%22%3A%22en%22%2C%22allows_write_to_pm%22%3Atrue%2C%22photo_url%22%3A%22https%3A%5C%2F%5C%2Ft.me%5C%2Fi%5C%2Fuserpic%5C%2F320%5C%2FRN2wWrhBWOdU7FvVOYX5WJ7QuQA88O8gFrX4ZyrHBDT7GuKQBG6fWxwxjZ3A46qA.svg%22%7D&chat_instance=7133147115571556471&chat_type=sender&auth_date=1734213935&signature=jRGUU5eTl1P5MDeVrcbf5eVVNui4L_P6W6JKbbYKXQg434YdmppLJeSqGdAQ4pvEqtP-mXvzhmgRJ-rXeC38Cw&hash=61798c6d56af3acff3167d022af55f916f304f5868489c8b9646a7ff9c064d96

